body {
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
    background-color: #201b1b;
    }
p {
    font-family: "Times New Roman", Times, serif;
    font-size: 17px;
    letter-spacing: -1px;
    word-spacing: 0px;
    color: #e5e5e5;
    text-align: center;
    }
hr {
    border: none;
    border-top: 1px solid;
    height: 0;
    margin: 1.5em auto;
    width: 25%
    }
h1{
    font-variant: small-caps;
    text-align: center;
    margin: 3em 0;
    color: rgb(255, 239, 91)
    }
h2 {
    font-weight: 900;
    text-align: center;
    margin: 3em 0;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red
    }
h3 {
    font-variant: small-caps;
    text-align: center;
    margin: 3em 0;
    color: whitesmoke
    }
.misc {
    text-align: center;
    color: whitesmoke;
}
.cover {
    height: auto;
    width: 75%;
    align-content: center;
    border: 15px solid whitesmoke;
    border-radius: 5%;
    
}
.imageCaption {
    color: whitesmoke;
    font-weight: 500;
    font-family: cursive;
}
p.continued, h2 + p, hr + p, p:first-child {
    text-indent: 0
    }
cite {
    display: block;
    font-style: normal;
    font-variant: small-caps;
    margin-top: 1em;
    text-align: right
    }
b {
    font-variant: small-caps;
    font-weight: normal
    }
.toc {
    text-align: center
    }
.toc h2 {
    margin-bottom: 1em
    }
.toc ol {
    display: inline-block;
    list-style: none;
    margin: auto;
    padding-left: 0
    }
ul {
    list-style: none;
    padding: 0
    }
.header {
    font-variant: small-caps;
    text-align: center;
    color: red
    }
.valediction {
    margin-top: 1em;
    text-align: right
    }
.signature {
    font-variant: small-caps;
    text-align: right
    }
table {
    margin: 1em 2em
    }
td {
    padding: 0 0.5em;
    vertical-align: bottom
    }
td.right {
    text-align: center
    }
.dedication {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    /*margin: 2em auto;*/
    /*max-width: 80%;*/
    color: whitesmoke;
    }
.verse p {
    text-indent: 0
    }
.verse p span {
    text-indent: -1em;
    padding-left: 1em
    }
.verse p span.i1 {
    text-indent: -1em;
    padding-left: 2em
    }
.verse p span.i2 {
    text-indent: -1em;
    padding-left: 3em
    }
.epigraph {
    font-style: italic;
    margin: 3em auto;
    max-width: 40em
    }
H1, H2, H3, H4, H5, H6 {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%
    }
hr {
    width: 50%;
    text-align: center
    }
blockquote {
    font-size: 97%;
    font-style: italic;
    margin-left: 10%;
    margin-right: 10%
    }
div.fig {
    display: block;
    margin: 0 auto;
    text-align: right
    }
.ph2, .ph3, .ph4 {
    text-align: center;
    text-indent: 0;
    font-weight: bold
    }
.ph2 {
    font-size: x-large;
    margin: 0.75em auto
    }
.ph3 {
    font-size: large;
    margin: 0.83em auto
    }
.ph4 {
    font-size: medium;
    margin: 1.12em auto
    }
H1, H2, H3, H4, H5, H6 {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%
    }
hr {
    width: 50%;
    text-align: center
    }
blockquote {
    font-size: 97%;
    font-style: italic;
    margin-left: 10%;
    margin-right: 10%
    }
div.fig {
    display: block;
    margin: 0 auto;
    text-align: center
    }
.ph2, .ph3, .ph4 {
    color: antiquewhite;
    text-align: center;
    text-indent: 0;
    font-weight: bold
    
    }
.ph2 {
    font-size: x-large;
    margin: 0.75em auto
    
    }
.ph3 {
    font-size: large;
    margin: 0.83em auto
    }
.ph4 {
    font-size: medium;
    margin: 1.12em auto
    }
div.chapter {
    page-break-before: always;
    text-align: center
    }
